<button class="color-scheme" role="switch" aria-checked="false" data-toggle="color-scheme">
  <span class="color-scheme__light-icon" hidden="true">
    <svg width="20" height="20" aria-hidden="true" focusable="false">
      <use href="/assets/vectors/app.svg#sun"></use>
    </svg>
  </span>
  <span class="color-scheme__dark-icon" hidden="true">
    <svg width="20" height="20" aria-hidden="true" focusable="false">
      <use href="/assets/vectors/app.svg#moon"></use>
    </svg>
  </span>
  <span class="visually-hidden">Toggle dark colour scheme</span>
</button>
